---
import { Image } from 'astro:assets'; 
import { Icon } from 'astro-icon/components';
import { formatDate } from '../../utils';
import { getCollection } from 'astro:content'; 
import ArticleLayout from '@layouts/ArticleLayout.astro';

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error('Slug is required');
}

// Получаем все записи из коллекции 'blog'
const blogEntries = await getCollection('blog');

// Находим запись по slug
const article = blogEntries.find((entry) => entry.slug === slug);

if (article === undefined) {
  return Astro.redirect('/404');
}

const { Content } = await article.render();

// Флаг для отображения рекламы (по умолчанию false)
const showAd = false;
---

<ArticleLayout canonical={Astro.url.href}>
  <!-- Условный рендеринг блока с рекламой -->
  {showAd && (
    <div class="reklama cursor-pointer py-4 flex justify-center items-center">
      <!-- <Banner /> -->
    </div>
  )}

  <div id="title" class="flex justify-between items-center mt-4">
    <p class="date flex items-center">
      <Icon name="calendar" size={22} />
      <span class="ml-2 font-semibold text-sm">
        {formatDate(article.data.pubDate)}
      </span>
    </p>
    <p class="flex items-center gap-2">
      <Icon name="user" size={20} />
      <a href={`/about`}> Автоюрист </a>
    </p>
  </div>  

  <div class="flex items-center justify-center text-center post-title my-6 text-sm md:text-lg">
    <span>тема:&nbsp;&nbsp;</span>
    <h1 class="font-bold uppercase">
      {article.data.title}
    </h1>
  </div>

  <!-- Изображение статьи -->
  {article.data.image && (
    <div class="w-full h-[30rem] overflow-hidden my-6 rounded-lg">
      <Image
        src={article.data.image}
        width={800}
        height={600} 
        loading="eager"
        decoding="async"
        format="webp"
        alt={article.data.title}
        class="w-full h-full object-cover"        
      />
    </div>
  )}

  <Content />
</ArticleLayout>

<style>
  .tags a {
    font-size: 0.8rem;
    background-color: var(--mainLinkColor-light);
    display: inline-block;
    color: white;
    padding: 0.1rem 0.7rem;
    border-radius: 10px;
  }

  .tags a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
  }

  summary span {
    font-weight: 700;
    margin-bottom: 10px;
  }

  ol li {
    text-decoration: none;
    margin: 0.5rem 0;
    margin-left: 1rem;
  }

  ol li a {
    font-weight: 600;
    font-style: italic;
    color: #6482c2 !important;
  }

  ol li a:hover {
    cursor: pointer;
    color: #889dca !important;
  }

  p {
    margin: 1.2rem 0;
  }  

  h2 {
    font-size: 1.25rem;
    padding: 1.5rem 0;
    text-align: left;
    padding-bottom: 0.5rem;
  }

  h3 {
    font-size: 1rem;
    padding: 2rem 0 0.3rem 0;
    text-align: left;
    text-transform: uppercase;
  }

  figure {
    margin: 2rem 0;
    padding: 0.7rem;
    border: 1px solid white;
    border-radius: 20px;
  }

  figcaption {
    margin-top: 0.5rem;
    text-align: center;
    font-style: italic;
    background-color: rgb(189, 185, 185);
    color: black;
    font-weight: bold;
  }

  .docs-download {
    margin-top: 2rem;
  }

  .docs-download p {
    margin: 0.3rem 0;
  }

  .ArrowTop {
    float: right;
  }

  .articles-list {
    margin-top: 2rem;
  }

  .articles-list p {
    margin: 0.2rem;
  }

  
  
</style>
